<div class="container">    
    <div class="login-form-wrapper">
        <div class="login-form-label">Sign In</div>
        <div class="login-form-error-label">{{errorMessage}}</div>
        <form  *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
                <label for="username">Username</label>               
                <input type="text" class="form-control" id="username" placeholder="Username" 
                       required  [(ngModel)]="model.username" ngControl="username" #username="ngForm">

            </div>
            <div class="form-group">
                <label for="password">Password</label>

                <input type="password" class="form-control" id="password" placeholder="Password" 
                       required [(ngModel)]="model.password" ngControl="password" #password="ngForm" >

            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>  
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>